body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}
.a {
  text-decoration: none;
}

.background {
  background: url("https://cdn.discordapp.com/attachments/1233881531404124202/1402117022396973147/IMG_8686.jpg?ex=68ac73fc&is=68ab227c&hm=5b3a652e227e5b47898c9c375a254ae2c5d368ccb6aabaa57cc286b87855167a&") no-repeat center center;
  background-size: cover; /* เต็มจอแบบไม่บี้ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* กล่องโปรไฟล์ */
.card {
  background: rgba(30, 30, 60, 0.6);
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto;
  width: 300px;
  backdrop-filter: blur(10px);
}

.avatar {
  width: 80px;
  border-radius: 50%;
}

.stars {
  font-size: 20px;
  margin: 10px 0;
}

.location {
  font-size: 14px;
  opacity: 0.8;
}

.social-links a {
  text-decoration: none; /* ลบเส้นใต้ */
  display: inline-block; /* ให้จัดเรียงไอคอนได้ง่าย */
}

.social-links a img {
  vertical-align: middle; /* จัดให้อยู่กลางแนวเส้นบรรทัด */
  border: none;           /* ลบขอบถ้ามี */
}

.my-report {
    background: rgba(255, 255, 255, 0.6); /* พื้นหลังสีขาวโปร่ง 60% */
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;

    /* ทำให้เบลอฉากหลังถ้ามี */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
